<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" media="all"
	href="css/mystyle.css" th:href="@{css/mystyle.css}" />

<head>
<meta charset="UTF-8">
<title>Home</title>
</head>
<body>
	<header>
		Welcome back&nbsp;<span th:text="${session.user.username}"> user</span>
	</header>
	<div class="main-container image-grid">
		<div th:each="i:${images}">
			<h1 th:text="${i.title}">title</h1>
			<!--  <img th:src="@{'data:images/png;base64,'+${i.path}}"> -->
			<img th:src="@{'images/'+${i.path}}">
			<span th:text="${i.description}">description</span>
		</div>
	</div>
</body>
</html>