<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<link rel="stylesheet" type="text/css" media="all"
	href="css/mystyle.css" th:href="@{css/mystyle.css}" />

<head>
<meta charset="UTF-8">
<title>Home</title>
</head>
<body>
	<header>
		Welcome back&nbsp;<span th:text="${session.user.username}">user</span>
		<a href="ViewHome"><img src="icons/home.png" class="icon"></a> <span><a
			href="Logout">Logout</a></span>
	</header>
	<form th:action="@{/CreateAlbum}" method="post">
		<input class="round" type="text" name="title"
			placeholder="Write here the name of your album" required>
		<div class="image-grid">
			<div th:each="i:${images}" class="image-item">
				<span th:text="${i.title}">title</span>
				<img th:src="@{/imageGetter(imageName=${i.path})}"> <input type="checkbox"
					name="selectedImages" th:value="${i.id}">
			</div>
		</div>
		<div class="center">
			<button type="submit" value="create" class="btn btn-primary">Create album</button>
		</div>
	</form>
	<div class="center">
					<a href="ViewUploadImage" class="btn-primary">Upload image</a>
		</div>
</body>
</html>