<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<link rel="stylesheet" type="text/css" media="all"
	href="css/mystyle.css" th:href="@{css/mystyle.css}" />

<head>
<meta charset="UTF-8">
<title>Home</title>
</head>
<body>
	<header>
		Welcome back&nbsp;<span th:text="${session.user.username}">user</span>
		<a href="ViewHome"><img src="icons/home.png" class="icon"></a> <span><a
			href="Logout">Logout</a></span>
	</header>
	<form th:action="@{/CreateAlbum}" method="post">
		<input class="round" type="text" name="title"
			placeholder="Write here the name of your album" required>
		<div class="image-grid">
			<div th:each="i:${images}" class="image-item">
				<span th:text="${i.title}">title</span>
				<img th:src="@{/imageGetter(imageName=${i.path})}"> <input type="checkbox"
					name="selectedImages" th:value="${i.id}">
			</div>
		</div>
		<div class="center">
			<button type="submit" value="create" class="btn btn-primary">Create album</button>
		</div>
	</form>
	<div class="center">
	<div class="card">
		<h2>Upload your image here</h2>
		<form action="UploadImage" method="post" enctype="multipart/form-data">
			<div>
				<label for="name">Name:</label> <input type="text"
					id="name" name="name"
					placeholder="Enter image name">
			</div>
			<div>
				<label for="image">Select image to upload:</label> <input
					type="file" id="image" name="image" accept="image/*" required>
			</div>
			<div>
				<label for="description">Description:</label> <input type="text"
					id="description" name="description"
					placeholder="Enter image description">
			</div>
			<div>
				<button type="submit">Upload Image</button>
			</div>
		</form>
	</div>
	</div>
		
</body>
</html>