<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<link rel="stylesheet" type="text/css" media="all"
	href="css/mystyle.css" th:href="@{css/mystyle.css}" />

<head>
<meta charset="UTF-8">
<title>Home</title>
</head>
<body>
	<header>
		Welcome back&nbsp;<span th:text="${session.user.username}">
			user</span>
			<a th:href="@{/ViewAlbum(albumId=${albumId}, pageNumber=${pageNumber})}"><img src="icons/back.png" class="icon"></a>
			<a href="ViewHome"><img src="icons/home.png" class="icon"></a>
			<span><a href="Logout">Logout</a></span>
	</header>
	<div class="image-container">
		<span th:text="${clickedImage.title}" class="image-title">title</span>
		<img th:src="@{'images/'+${clickedImage.path}}" class="big">
		<div class="image-info">
			<span th:text="${clickedImage.description}">description</span>
			<span th:text="'Image uploaded by '+${clickedImage.username}">user</span>
			<i><span th:text="'('+${clickedImage.creation_date}+')'">creation date</span></i>
		</div>
		<h2>Comments:</h2>
		<div th:each="c:${comments}">
			<b><span th:text="${c.username}+':'">user</span></b>
			<span th:text="${c.text}">comment</span>
			<i><span th:text="'('+${c.date}+')'">date</span></i>
		</div>
		<!-- Todo  -->
		<a th:if="${session.user.username == clickedImage.username}" th:href="@{/DeleteImage(imageId=${clickedImage.id})}"><img src="icons/trash.png" class="trash"></a>
			
			
		<!-- In js action deve essere vuota!!!!!!!!!!!!! se no mi reindirizza alla servlet -->
		<form th:action="@{/WriteComment(imageId=${clickedImage.id}, albumId=${albumId}, pageNumber=${pageNumber})}" method="post" class="over">
			<input class="round" type="text" name="text" placeholder="Insert comment here" required>
			<button type="submit" value="send" class="btn btn-primary">Send</button>
		</form>
	</div>
</body>
</html>