<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" media="all"
	href="css/mystyle.css" th:href="@{css/mystyle.css}" />

<head>
<meta charset="UTF-8">
<title>Upload Image</title>
</head>
<body>
	<header>
		Welcome back&nbsp;<span th:text="${session.user.username}">user</span>
		<a href="ViewHome"><img src="icons/home.png" class="icon"></a> <span><a
			href="Logout">Logout</a></span>
	</header>
	<div class="center">
		<form action="UploadImage" method="post" enctype="multipart/form-data">
			<div>
				<label for="name">Name:</label> <input type="text"
					id="name" name="name"
					placeholder="Enter image name">
			</div>
			<div>
				<label for="image">Select image to upload:</label> <input
					type="file" id="image" name="image" accept="image/*" required>
			</div>
			<div>
				<label for="description">Description:</label> <input type="text"
					id="description" name="description"
					placeholder="Enter image description">
			</div>
			<div>
				<button type="submit">Upload Image</button>
			</div>
		</form>
	</div>
</body>
</html>
